/.vscode
/asmenys.log
/failai.ipynb
/funkcijos.ipynb
/funkcijos_argumentai.ipynb
/funkcijos_triukai.ipynb
/get_set.ipynb
/infiniteloop.py
/kintamieji_tekstoKarpymas_logika_salygos.ipynb
/loggeris.py
/logika_boolean_type.ipynb
/loginimas.ipynb
/loginimas_asmenys.py
/masyvai_ciklai_zodynai_whileciklas_enumerate.ipynb
/mini_biudzeto_programa.py
/modules
/naujas
/objektinis_programavimas_papildomos savybes.ipynb
/pickle.ipynb
/problemos.log
/uzduotys_pasikartojimui.ipynb
/uzduotys_pasikartojimui_atsakymai.ipynb
/venv
/_1pirmadienis.py
/_2antradienis.py
/_3adienio4uzduotis
/_3iadienio1uzduotis.py
/_3iadienio2uzduotis.py
/_3iadienio3uzduotis.py
/_3iadienio5uzduotis.ipynb
/_4adienio1uzduotis.py
/_4adienio2uzduotis.py
/_4adienio3uzduotis.py
/_4adienio4uzduotis.py
/_4adienio5uzduotis.py
/_5adienio1uzduotis.py
/_5adienio2uzduotis.py
/_5adienis3uzduotis.py
/_automobilis.edited.ipynb
/_automobilis_edited.ipynb
/_biudzeto programa.py
/_cikliskai_bandom.py
/_ciklo_else.py
/_dalybos programele.py
/_datos_ir_laiko_ivedimas.py
/_failai_1uzduotis.ipynb
/_failai_2uzduotis.ipynb
/_failai_3 uzduotis.ipynb
/_funkcijos_triukai.ipynb
/_ieskomasis.py
/_input_uzduotis.py
/_katinynas_destytojo.py
/_keliamieji_metai.py
/_mini_biudzeto_programa.py
/_mokausi _is_naujo.py
/_objektu_2dalis_2uzduotis.ipynb
/_objektu_2_dalis_1uzduotis.ipynb
/_pickle_sprendimas.py
/_skaiciuotuvas.py
/_susirasinejimo_programa.py
/_tikrinimas.py
/_uzduotis_su_objektais_ir_klasem.ipynb
/_uzduotis_su_tekstu.py
/_zmones.py